.App-header {
    min-height: 50vh;
    /* justify-content: center; */
    color: Black;
  }
  .Heading {
    background-color: #0000cc;
    min-height: 20vh;
    color:white;
    position: relative;
  }
  .Heading h1 {
      position: absolute;
      left: 50px;
      bottom: 20px;
  }
  .Sub-header{
    padding-bottom:5%;
  }
  .Description{
     display:inline-block;
      max-width: 40%;
      padding-left: 8%;
      padding-right: 1%;
      margin-top:-10%;

  }
  .Description-heading {
    font-size: large;
  }
  .Description p {
      margin-bottom: 0;
  }
.Image{
    display:inline-block;
     padding-top:3%;
        max-width: 40%;
      /* padding-right: 8%; */
      padding-left: 1%;
}
img{
    margin: auto;
    width:100%;
    height:100%;
}